<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Add Prescription</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">

    <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/

      var app = angular.module('myApp', []);
      app
          .controller(
              'addPrescriptionCtrl',
              function($scope, $http) {

                $scope.getTime = function getTime(date) {                 
                  var hour = date.hourOfDay;
                  var suffix;
                  if ( hour > 12 ) {
                    hour = hour - 12;
                    suffix = "PM";
                  } else {
                    suffix = "AM";
                  }
                  return twoDigit(hour) + ":" + twoDigit(date.minute) + " " + suffix;
                }

                $scope.getDate = function getDate(date) {
                  /* The months start at 0... only the months.  So we have to add 1 to get the correct input.*/
                  month = date.month + 1;
                  return twoDigit(month) + "/" + twoDigit(date.dayOfMonth) + "/" + date.year;
                }

                function twoDigit(num) {
                  if (num < 10) {
                    return "0" + num;
                  }
                  return num;
                }

                $http.get("/iTrust2/api/v1/patients").then(
                    function(response) {
                      $scope.patients = response.data;
                      console.log($scope.patients);
                    });

                $http.get("/iTrust2/api/v1/ndccodes")
                    .then(function(response) {
                      $scope.ndc = response.data;
                    });

                $scope.noVisitSelected = true;
                $scope.loadingVisits = true;
                $http.get("/iTrust2/api/v1/officevisits").then(
                    function(response) {
                      $scope.noVisitSelected = true;
                      $scope.loadingVisits = false;
                      $scope.visits = response.data;
                      console.log($scope.visits);
                      var visitsLength = $scope.visits.length;
                      for (var i = 0; i < visitsLength; i++) {
                        $scope.visits[i].formattedDate = $scope.getDate($scope.visits[i].date);
                      }
                    });

                console.log($scope);

                $scope.submit = function() {
                  $scope.errorMsg = "";
                  
                  if(!($scope.prescription.dosage > 0)) {
                	  	$scope.errorMsg += "Dosage must be a number greater than 0";
                  }
               	  else if ($scope.prescription.renewals <= 0) {
               	  		$scope.errorMsg += "Renewals must be a number greater than 0";
               	  }
                  console.log($scope.prescription);
                  
                 
                  $http({
                    method : 'POST',
                    url : '/iTrust2/api/v1/prescriptions',
                    data : $scope.prescription
                  }).then(function(response) {
                    $scope.message="Prescription created successfully";
                    console.log(response);
                  }, function(rejection) {
                    $scope.message="Error occurred creating prescription";
                    console.log(rejection);
                  })
                }
              });

      /*]]>*/
    </script>



    <div ng-app="myApp" ng-controller="addPrescriptionCtrl">
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle"
            data-toggle="dropdown" href="#">Patient<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/iTrust2/hcp/viewAppointmentRequests"
                id="viewrequests">View Appointment Requests</a></li>
              <li><a href="/iTrust2/hcp/viewAppointments"
                id="upcomingrequests">View Upcoming Appointments</a></li>
              <li><a href="#">Edit Patient -- Not Implemented</a></li>
              <li><a href="#">Add Patient -- Not Implemented</a></li>
              <li><a href="/iTrust2/hcp/documentOfficeVisit.html"
                id="documentOfficeVisit">Document Office Visit</a></li>
              <li><a href="/iTrust2/hcp/addPrescription.html"
                id="documentOfficeVisit">Add Prescription</a></li>
            </ul></li>
          <li class="dropdown"><a class="dropdown-toggle"
            data-toggle="dropdown" href="#">Edit<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/iTrust2/personnel/editDemographics"
                id="editdemographics">Edit Demographics</a></li>
              <li> <a href="/iTrust2/hcp/editOfficeVisit"
                    id="editOfficeVisit">Edit Office Visit</a></li>
            </ul></li>
        </ul>
      </div>
    </nav>
      <div style="float:left;width:80%;overflow-y:auto">
      <form name="myForm">
        <h2>Add Prescription</h2>
        <h4>Patients</h4>
        <input type="text" ng-model="searchFilter.self.username" placeholder="Search..."/>

        <select ng-model="prescription.patient"
                ng-options="patient.self.username as patient.self.username for patient in patients | filter:searchFilter" required>
          <option value="" disabled selected>PATIENTS</option>
        </select>

        <hr />

        <h4>Prescription</h4>
        <span style="color:red;">*</span>
        <select ng-model="prescription.ndcCode" ng-options="code.code as code.name for code in ndc" required>
          <option value="" disabled selected>PRESCRIPTIONS</option>
          <!-- <option ng-repeat="code in ndc"
                  value="{{code.id}}">
            {{code.name}}
          </option>-->
        </select>
        <br />
        <span style="color:red;">*</span>
        <input type="text" ng-model="prescription.dosage" placeholder="Dosage (mg)" required/>
		<br/>
		<span style="color:red;">*</span>
        <input type="text" ng-model="prescription.renewals" placeholder="Renewals" required/>
		<br/>
		<span style="color:red;">*</span>
        <input type="text" ng-model="prescription.start" placeholder="Start date (mm/dd/yyyy)" required/>
		<span style="color:red;">*</span>
        <input type="text" ng-model="prescription.end" placeholder="End date (mm/dd/yyyy)" required/>

        <h4>Office Visits</h4>
        <select ng-model="prescription.visit">
          <option value="" disabled selected>OFFICE VISITS</option>
          <option ng-repeat="visit in visits | filter: prescription.patient.self.username"
                  value="{{visit.id}}">
            {{visit.type}} on {{visit.formattedDate}} at {{getTime(visit.date)}}
          </option>
        </select>
	</form>
        <br />
        <button ng-disabled="myForm.$invalid" ng-click="submit()" name="submit">Submit Office
          Visit</button>

        <div name="errorMsg"><pre>{{errorMsg}}</pre></div>

        <div name="success">{{message}}</div>
      </div>


    </div>




  </div>
</body>
</html>