<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Upcoming Appointments</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle"
            data-toggle="dropdown" href="#">Patient<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/iTrust2/hcp/viewAppointmentRequests"
                id="viewrequests">View Appointment Requests</a></li>
              <li><a href="/iTrust2/hcp/viewAppointments"
                id="upcomingrequests">View Upcoming Appointments</a></li>
              <li><a href="#">Edit Patient -- Not Implemented</a></li>
              <li><a href="#">Add Patient -- Not Implemented</a></li>
              <li><a href="/iTrust2/hcp/documentOfficeVisit.html"
                id="documentOfficeVisit">Document Office Visit</a></li>
              <li><a href="/iTrust2/hcp/addPrescription.html"
                id="addPrescription">Add Prescription</a></li>
               
            </ul></li>
          <li class="dropdown"><a class="dropdown-toggle"
            data-toggle="dropdown" href="#">Edit<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/iTrust2/personnel/editDemographics"
                id="editdemographics">Edit Demographics</a></li>
              <li> <a href="/iTrust2/hcp/editOfficeVisit"
                    id="editOfficeVisit">Edit Office Visit</a></li>
              <li><a href="/iTrust2/hcp/managePrescriptions.html"
                id="managePrescriptions">Manage Prescriptions</a></li>
            </ul></li>
        </ul>
      </div>
    </nav>
		<span th:if="${appointments!=null and appointments.size() == 0}">No
			appointments found.</span>

		<div th:each="appointment : ${appointments}">
			<div th:value="${appointment.id}" name="appointment">
				<div name="${appointment.name}">
					<strong>Type:</strong>
					<div th:text="${appointment.type}" style="display: inline-block">
					</div>
					<br /> <strong>Date</strong>
					<div th:text="${appointment.date}" style="display: inline-block"></div>
					<br /> <br /> <strong>Time</strong>
					<div th:text="${appointment.time}" style="display: inline-block"></div>
					<br /> <br /> <strong>Patient</strong>
					<div th:text="${appointment.patient}" style="display: inline-block"></div>
					<br />
				</div>
			</div>
		</div>
	</div>
</body>
</html>