<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Forgot your Password</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<section class="forgot">
			<script th:inline="javascript">
				/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
				/*<![CDATA[*/
        
				var app = angular.module('myApp', []);
				app
						.controller(
								'forgotPasswordCtrl',
								function($scope, $http) {
									$scope.submit = function() {
						                  $scope.message = "";
						                  $http({
						                    method : 'POST',
						                    url : '/iTrust2/password/passwordrecovery',
						                    data : $scope.email
						                  }).then(function(response) {
						                    $scope.message="Recovery email sent successfully";
						                    console.log(response);
						                  }, function(rejection) {
						                    $scope.message="Email does not exist!";
						                    console.log(rejection);
						                  })
						                }
								});
				/*]]>*/
			</script>
			<div class="login" ng-app="myApp" ng-controller="forgotPasswordCtrl">
				<h3>Forgot your Password?</h3>
				<input id="email" type="text" ng-model="email" placeholder="someone@somewhere.com" />
				<button id="submit" ng-click="submit()">Send Recovery Email</button>
				<div name="errorMsg"><pre>{{message}}</pre></div>
			</div>
		</section>
	</div>
</body>
</html>