<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Reset your Password</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/

			var app = angular.module('myApp', []);
			app
					.controller(
							'changePasswordCtrl',
							function($scope, $http) {
								$scope.checkPwd = function() {
									if(!($scope.pwd) || !($scope.pwd.new) || !($scope.confirm) ||
											$scope.pwd.new != $scope.confirm ||
											$scope.pwd.new.length < 6 ||
											$scope.pwd.new.length > 20 )
										return true;
									else
										return false;
								}
								
								$scope.submit = function() {
					                  $scope.errorMsg = "";
					                  $http({
					                    method : 'POST',
					                    url : '/iTrust2/api/v1/resetPassword/',
					                    data : $scope.pwd
					                  }).then(function(response) {
					                    $scope.message="Password changed successfully";
					                    console.log(response);
					                  }, function(rejection) {
					                    $scope.message="An error occurred changing your password";
					                    console.log(rejection);
					                  })
					                }
							});
			/*]]>*/
		</script>
		<div ng-app="myApp" ng-controller="changePasswordCtrl">
			<h3>Change your Password</h3>
			<input type="password" id="newpwd" ng-model="pwd" placeholder="New Password" /><br />
			<input type="password" id="confirm" ng-model="confirm" placeholder="Confirm Password" /><br />
			<button id="submit" ng-disabled="checkPwd()" ng-click="submit()">Change Password</button>
			<div name="errorMsg"><pre>{{message}}</pre></div>
		</div>
	</div>
</body>
</html>