<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Create Diagnosis</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">


	<div th:fragment="content">
		<h1>Edit ICD-10 Codes</h1>
		<h3>Add or Update ICD-10 Codes</h3>
		<form action="#" th:action="@{/admin/createDiagnosis}"
			th:object="${DiagnosisForm}" method="post">
			<table>

				<tr>
					<td style="text-align:right;padding:5px">Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
					The name is invalid</td>
				</tr>

				<tr>
					<td style="text-align:right;padding:5px">ICD-10 Code:</td>
					<td><input type="text" th:field="*{icdCode}" /></td>
					<td th:if="${#fields.hasErrors('icdCode')}" th:errors="*{icdCode}">The ICD-10 code
						is invalid</td>
				</tr>

				<tr>
					<td><button type="submit" class="btn">Submit</button></td>
				</tr>

			</table>
		</form>
		<br>
		<h3>Current iTrust2 ICD-10 Codes</h3>
		<select style="width: 250px;" size="5">
		    <option value="1">Item #1</option>
		    <option value="2">Item #2</option>
		    <option value="3">Item #3</option>
		    <option value="4">Item #4</option>
		    <option value="5">Item #5</option>
		    <option value="6">Item #6</option>
		    <option value="7">Item #7</option>
		    <option value="8">Item #8</option>
		    <option value="9">Item #9</option>
		</select>
	</div>
</body>
</html>