<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Admin Home</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<section>
			Welcome to iTrust2 - Admin
			<ul class="dashboard">
				<li><a href="/iTrust2/admin/addHospital" id="addhospital">Add
									Hospital</a></li>
							<li><a href="/iTrust2/admin/addUser" id="addnewuser">Add
									User</a></li>
							<li><a href="/iTrust2/admin/deleteUser" id="deleteuser">Delete
									User</a></li>
							<li><a href="/iTrust2/admin/deleteHospital"
								id="deletehospital">Delete Hospital</a></li>
							<li><a href="/iTrust2/admin/updateNDC" id="updatendc">Update 
									NDC Codes</a></li>
							<li><a href="/iTrust2/admin/createDiagnosis"
								id="createDiagnosis">Create Diagnosis</a></li>
							<li><a href="/iTrust2/personnel/editDemographics"
								id="editdemographics">Edit Demographics</a></li>
							<li><a href="/iTrust2/changePassword"
								id="changepassword">Change Password</a></li>


			</ul>
		</section>
	</div>
</body>
</html>